.home{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://th.bing.com/th/id/R.881b0f20eab490e8330e1e3996c786f6?rik=IktraNGELoAguQ&pid=ImgRaw&r=0);
}