.contador_container{
    grid-template: 1fr / 1fr 1fr 1fr;
    width: 140px;
    height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 40px auto 0;
    display: grid;
}


.contador_container_boton{
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    font-size: 1.6rem;
    transition: all 250ms ease-out;
}
.count-container__qty {
    height: 100%;
    padding-top: 10px;
    color: var(--primary-color);
    background-color: var(--just-white);
  }

.boton_cart{
    display:flex; 
    justify-content:center; 
    align-items:center
}
  